@tailwind base;
@tailwind components;
@tailwind utilities;

#signup{
  /* border: 1px solid red; */
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  padding: 40px;
}
#signup>form{
  border: 1px solid rgb(203 213 225);
  width: max-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
#signup input{
  width: 320px;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 5px;
}

@media (max-width: 500px) {
  #signup>div{
    display: none
  }
  #signup>form{
    /* min-height: 100vh; */
    border: 0px;
    box-shadow:none;
    gap: 50px;
  }
  #signup{
    width: 100%;
    justify-content: center;
    align-items: bottom;
    padding: 40px;
  }
  #signup input{
    width: 360px;
    font-size: 25px;
    padding: 12px 8px;
    border: 1px solid grey;
    border-radius: 5px;
  }
  #signup label{
    font-size: 25px;
  }
}